{% extends "layout.html" %}

{% block title %}
    Buy Stocks
{% endblock %}

{% block main %}
    <form action="/buy" method="post">
        <div class="row input justify-content-md-center">
            <div class="col col-md-auto">
              <input name="symbol" type="text" class="form-control" placeholder="Symbol">
            </div>
            <div class="col col-md-auto">
              <input name="shares" type="number" min="1" class="form-control" placeholder="Shares">
            </div>
          </div>
        <button class="btn btn-primary" type="submit">Buy</button>
    </form>

{% endblock %}